body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #002aff;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
}

header p{
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 22px
}

header button{
    border-radius: 15px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    padding: 10px;
    background-color: cyan;
}

header button:hover{
    scale: 1.2;
    background-color: rgb(0, 230, 230);
    cursor: pointer;
}

body {
    margin: 0;
    display: grid;
}

header img {
    padding: 10px;
    height: 100px;
    width: 100px;
}

#loupe:hover {
    scale: 1.2;
    cursor: pointer;
}

.search-icon {
    font-size: 22px;
    margin-right: 10px;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.logo {
    font-size: 26px;
    margin-left: 10px;
}

.container {
    display: flex;
    height: calc(100vh - 70px); /* hauteur du header */
}
.sidebar {
    width: 250px;
    background-color: #eee;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}
.sidebar .chat {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.sidebar .chat.selected {
    background-color: grey;
    color: white;
}
.sidebar .chat img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
}
.chat-info {
    font-size: 12px;
    color: #666;
}
.notifications {
    font-size: 10px;
    color: red;
}
.chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.chat-header {
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    font-weight: bold;
}
.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}
.message {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}
.message.sent {
    background-color: #00e5ff;
    align-self: flex-start;
}
.message.received {
    background-color: #008080;
    color: white;
    align-self: flex-end;
}
.message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 5px;
}
.input-area {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: white;
}
.input-area input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-area button {
    background-color: #0057FF;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}