<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="icon" type="png" href="../static/img/ChatGPT Image 17 avr. 2025, 12_32_30.png" />
</head>
<body>
    <script>
        let titleText = " Caurchat - Changer le mot de passe ";
        let position = 0;
        function scrollTitle() {
            document.title = titleText.substring(position) + titleText.substring(0, position);
            position = (position + 1) % titleText.length;
            setTimeout(scrollTitle, 150);
        }
        scrollTitle();
    </script>
    <div class="container">
        <img src="../static/img/ChatGPT Image 17 avr. 2025, 12_32_30.png" alt="Logo Caurchat" class="logo" />
        <div class="title">Caurchat</div>
        <form class="form">
            <input type="password" placeholder="Nouveau  mot de passe" required />
            <input type="password" placeholder="Confirmer le mot de passe" required />
            <button type="submit">Changer le Mot de passe</button>
        </form>
    </div>
</body>
</html>