<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/chat.css">
    <title>Home</title>
</head>

<body>
    <header>
        <img id="loupe" src="../static/img/loupe.png" alt="Loupe">
        <h1>Caurchat</h1>
        <img src="../static/img/logoCaurchat.png" alt="Logo de Caurchat">
        <% if (username) { %>
            <p>Bonjour <%= username %></p>
            <button onclick="window.location.href='/logout'">Se déconnecter</button>
        <% } else { %>
            <button onclick="window.location.href='/login'">Se connecter</button>
        <% } %>
        
        
    </header>

</body>
<div class="chat-container">
    <div class="chat-item">
        <div class="avatar">Img<br>Pseudo</div>
        <div class="chat-content">
            <div class="pseudo">Pseudo 1</div>
            <div class="last-message">Dernier message qui a été envoyé</div>
        </div>
        <div class="chat-info">
            H dernier msg /<br>
            ou il y a 1,2,3 j etc...<br><br>
            X =<br>
            Nb<br>
            <strong>notifications</strong>
        </div>
    </div>

    <div class="chat-item">
        <div class="avatar">Img<br>Pseudo</div>
        <div class="chat-content">
            <div class="pseudo">Pseudo 2</div>
            <div class="last-message">Dernier message qui a été envoyé</div>
        </div>
        <div class="chat-info">
            H dernier msg /<br>
            ou il y a 1,2,3 j etc...<br><br>
            X =<br>
            Nb<br>
            <strong>notifications</strong>
        </div>
    </div>
</div>

</html>