<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Caurchat - Login</title>
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="icon" type="png" href="../static/img/ChatGPT Image 17 avr. 2025, 12_32_30.png" />
</head>
<body>
    <div class="container">
        <img src="../static/img/ChatGPT Image 17 avr. 2025, 12_32_30.png" alt="Logo Caurchat" class="logo" />
        <h1 class="title">Caurchat</h1>
        <% if (message) { %>
            <p style="font-weight: bold;color: red;font-size: 22px"><%= message %></p>
        <% } %>
        <form class="form" action="/login" method="POST">
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Mot de passe" required />
            <button type="submit">Se connecter</button>
        </form>
        <a href="/create_account" class="register-link">Pas de compte ?</a>
        <a href="../template/reset_passeword.html" class="mdp-link">Mot de passe oublié ?</a>
    </div>
</body>
</html>