<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Caurchat - Register</title>
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="icon" type="png" href="../static/img/ChatGPT Image 17 avr. 2025, 12_32_30.png" />
</head>
<body>
    <script>
        let titleText = " Caurchat - Réinitialiser le mot de passe ";
        let position = 0;
        function scrollTitle() {
            document.title = titleText.substring(position) + titleText.substring(0, position);
            position = (position + 1) % titleText.length;
            setTimeout(scrollTitle, 150);
        }
        scrollTitle();
    </script>
    <div class="container">
            <img src="../static/img/ChatGPT Image 17 avr. 2025, 12_32_30.png" alt="Logo Caurchat" class="logo" />
            <div class="title">Caurchat</div>
        <% if (message) { %>
            <p style="color: <%= color %>"><%= message %></p>
        <% } %>
        <form class="form" action="/reset_password" method="POST">
            <input type="email" name="email" id="email" placeholder="Email" required />
            <button type="submit">Réinitialiser le mot de passe</button>
        </form>
    </div>
</body>
</html>